.code-box-demo {
  text-align: center;
}

.header {
  position: sticky;
}

.headerMenu {
  top: 0;
}
.navLinks a {
  margin: 10px;
  display: inline;
  text-decoration: none;
}
.navLinks a:hover {
  opacity: 20%;
}

.sider {
  width: 160px;

  padding-top: 20px;
  color: #fff;
  line-height: 120px;
}

.content {
  /* min-height: 280px; */
  padding: 30px;

  background: #fff;
}

.cardWrapper {
  padding: 30px;
}

.footer {
  line-height: 1.5;
}



/* media queries */

